# Big Data Systems Architecture - Spark Assignment

Konstantinos Ninas, f2822108
MSc in Business Analytics
Department of Management Science and Technology
Athens University of Economics and Business 
f2822108@aueb.gr

In [164]:
#import of libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

In [165]:
#We create a spark session in order to create an application to exlore the data
spark = SparkSession.builder.appName("SQL_Queries").getOrCreate()

In [166]:
#We load the dataset in a dataframe. We read the file with the .json() function
new_books = spark.read.json("books_5000.json")
type(new_books)

pyspark.sql.dataframe.DataFrame

In [167]:
#We create a global view of the new_books dataframe, so it can be accessed from any application in different sessions
new_books.createOrReplaceTempView("test_books")

In [168]:
#We use a nested select to find all the movies that start with 'N' and sort them in descending order based on their average rating. Then, on the outer loop we select the first 
#record using the limit command 
best_N_book = spark.sql("SELECT book_id, title, average_rating FROM ( \
          SELECT book_id, title, average_rating FROM test_books WHERE (title like 'N%' OR title like 'n%') ORDER BY average_rating DESC) LIMIT 1")
best_N_book.show()

+--------+--------------------+--------------+
| book_id|               title|average_rating|
+--------+--------------------+--------------+
|27217506|Not a Villain, vo...|          4.75|
+--------+--------------------+--------------+

In [169]:
#We use regular expressions to isolate the average ratings of the books that start with 'I', and with the AVG function we get their average value
avg_rating_I_book = spark.sql("SELECT AVG(average_rating) FROM test_books WHERE (title like 'I%' OR title like 'i%')")
avg_rating_I_book.show()

+-------------------+
|avg(average_rating)|
+-------------------+
|  3.955161290322582|
+-------------------+

In [170]:
#We use regular expressions to isolate the books that start with the 'N'. We also filter only books that have a paperback format and have a recorded number of pages.
#We order the books based on their number of pages in descending order and we keep only the first book's title and book_id using the limit command.
Paperback_books = spark.sql("SELECT book_id, title FROM test_books WHERE (title like 'N%' OR title like 'n%') \
                            AND format = 'Paperback' AND num_pages != '' ORDER BY CAST(num_pages AS INT) DESC LIMIT 1")
Paperback_books.show()

+--------+--------------------+
| book_id|               title|
+--------+--------------------+
|10324691|Naruto (3-in-1 Ed...|
+--------+--------------------+